// 小demo，就不分那么细了

$white: #ffffff;
$gray: #aaaaaa;
$light_gray: #ebebeb;
$black: #212121;
$green: #8bc34a;
$light_blue: #BBDEFB;
$blue: #3fabff;
$dark_blue: #1976D2;
$red: #ff5722;
$yellow: #ffeb3b;
$grown: #ffc107;

$light_primary: $light_blue;
$primary: $blue;

$font_base: $black;
$font_useless: $gray;